-dontwarn android.support.v4.**
-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontpreverify
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-keep class android.support.v4.** { *; }  
-keep interface android.support.v4.app.** { *; }  
-keep public class * extends android.support.v4.**  
-keep public class * extends android.app.Fragment

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService

-keepclasseswithmembers class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}




-keep class org.**
-keep class it.sauronsoftware.**

#FOR OKS_PLUGIN
-keep class me.shumei.open.oks.*.Signin
-keep class me.shumei.open.oks.*.Signin {
	public <methods>;
}

-keep class me.shumei.open.oks.*.CaptchaUtil
-keep class me.shumei.open.oks.*.CaptchaUtil {
	public static java.lang.String captcha_input;
	public <methods>;
}

-keep class me.shumei.open.oks.*.ManageTask
-keep class me.shumei.open.oks.*.ManageTask {
	public <methods>;
}





